name: publish

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
    - name: Publishing Code
      uses: actions/checkout@v4
    - name: Deployement
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: mrck.ftp.infomaniak.com
        # ${{ secrets.HOST_NAME }}
        username: mrck_ich-0324-te03
        # ${{ secrets.USER_NAME }}
        password: Pbk-GbGPdU2
        # ${{ secrets.PASSWORD }}
        port: 21
        # ${{ secrets.PORT }}
        protocol: FTP
        # ${{ secrets.PROTOCOL }}
        server-dir: ich-0324.cidisi.ch/examen130/
        exclude: .git*/**
    
