name: publish

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-22.04
    # steps :
    # - name: FTP Deploy Action via lftp (FTP, SFTP, FTPS)
    #   # You may pin to the exact commit or the version.
    #   uses: pontago/lftp-deploy-action@47debd112419af76b6b7c0ee7861dc506a26f01b
    #   # uses: pontago/lftp-deploy-action@v1.0.1
    #   with:
    #     # Sever Hostname or IP
    #     host: mrck.ftp.infomaniak.com
    #     # ${{ secrets.HostName }}
    #     # Login Username
    #     username: mrck_ich-0324-te03
    #     # ${{ secrets.UserName }}
    #     # Login Password
    #     password: Pbk-GbGPdU2
    #     # ${{ secrets.Password }}
    #     # Default port are FTP(21), SFTP(22).
    #     port: 21
    #     # ${{ secrets.Port }}
    #     # Transfer protocol (ftp, ftps, sftp)
    #     protocol: ftp
    #     # ${{ secrets.Protocol }}
    #     # If you want to use SSH Private Key, protocol parameter should be sftp.
    #     remote_dir: examen130

    steps:
    - name: Publiching Code
      uses: actions/checkout@v4
    - name: Deployement
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ${{ secrets.HOST_NAME }}
        username: ${{ secrets.USER_NAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        protocol: ${{ secrets.PROTOCOL }}
        server-dir: ich-0324.cidisi.ch/examen130/
        exclude: .git*/**
    
